body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.move-text {
  position: relative;
  font-size: 2rem;
  color: #0077b6;
  animation: slideRight 4s linear infinite;
}

@keyframes slideRight {
  0% {
    left: -100%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
