body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}


.image-container {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 250px;
  height: 250px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  border-radius: 12px;
}

.image-container img:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
