body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background: #f0f0f0;
}

.ball {
  width: 80px;
  height: 80px;
  background-color: #ff5252;
  border-radius: 50%;
  position: relative;
  animation: bounce 1.2s ease-in-out infinite;
}
@keyframes bounce {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 300px;
  }
}
