body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.square {
  width: 150px;
  height: 150px;
  background-color: #0077b6;
  border-radius: 10px;
  animation: rotateBox 3s linear infinite;
}

@keyframes rotateBox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
