h1{
    text-align: center;
    color: blueviolet;
    background-color: bisque;
}
.a1{
    color: blue;
    margin: 30px;
    background-color: rgb(191, 255, 0);
}
.a2{
    color: orange;
    margin: 30px;
    background-color:black;
}
.a3{
    color: rgb(205, 166, 50);
    margin: 30px;
    background-color: rgb(255, 0, 0);
}