h1{
    text-align: center;
    color: aquamarine;
    background-color: black;
}
.p1{
    border: 10px solid blue;
}
.p2{
    border: 10px solid rgb(0, 255, 98);
}
.p3{
    border: 10px solid rgb(255, 0, 157);
}